@font-face {
  font-family: Aeonik-bold;
  font-weight: 800;
  src: url(../Fonts/AeonikTRIAL-Bold.otf);
}

@font-face {
  font-family: Aeonik-light;
  font-weight: 300;
  src: url(../Fonts/AeonikTRIAL-Light.otf);
}

@font-face {
  font-family: Aeonik-Regular;
  font-weight: 500;
  src: url(../Fonts/AeonikTRIAL-Regular.otf);
}

:root {
  --primary-color: #4f46e5;
  --secondary-color: #22c55e;
  --primary-text-color: #111827;
  --seconday-text-color: #6b7280;
  --bg-color: #212121;
  --text-color: #e5e5e5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sf Pro Display";
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  min-height: 100%;
  background-color: var(--bg-color);
  padding: 1rem 2rem;
}

main nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0px 1.5rem;
  height: 4rem;
  border-radius: 0.5rem;

  h3 {
    font-size: 1.5rem;
    color: var(--primary-text-color);
  }

  button {
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    font-weight: 600;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
  }
}

section.main-section {
  width: 100%;
  height: fit-content;
  background: #000;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  color: var(--text-color);
  background-image: url("https://images.unsplash.com/photo-1597026405082-eda9beae7513?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-position: 0% 75%;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  align-items: center;
  position: relative;

  .overlay {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 1rem 0rem 0rem 1rem;
    z-index: -1;
  }

  .part1 {
    line-height: 3rem;

    h2,
    h3 {
      font-size: 1.7rem;
    }
  }

  .part2 {
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    z-index: 10;
    gap: 0.5rem;

    h4 {
      background-color: #fff;
      border-radius: 0.5rem;
      padding: 0 1rem;
      color: #000;
    }
  }

  h1 {
    font-size: 4.5rem;
    font-weight: 600;
    mix-blend-mode: hard-light;
  }

  p {
    font-size: 0rem;
    background-color: red;
  }
}

section.main-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 1rem 0rem;

  .elem {
    background-color: #fff;
    position: relative;
    width: 250px;
    height: 260px;
    border-radius: 1rem;
    overflow: hidden;
    color: var(--text-color);

    h2 {
      position: absolute;
      top: 0;
      color: #e5e5e5;
      mix-blend-mode: hard-light;
      padding: 1rem;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 800;
      width: 100%;
      line-height: 2.3rem;
      z-index: 10;
    }

    img {
      object-fit: cover;
      object-position: top;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-in-out;
      filter: brightness(0.8);
    }

    img:hover {
      transform: scale(1.2);
      filter: brightness(0.5);
    }
  }
}

@media (max-width: 600px) {
  main {
    padding: 1rem;

    nav {
      padding: 0.8rem;

      h3 {
        font-size: 1.2rem;
      }

      button {
        white-space: nowrap;
        text-align: center;
        // padding: 0.5rem 0;
      }
    }

    section.main-cards {
      flex-direction: column;
      align-items: center;

      .elem {
        width: 100%;
        max-width: 370px;
        margin-bottom: 1rem;
      }
    }

    section.main-section {
      min-height: 400px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;

      .overlay {
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.8),
          rgba(0, 0, 0, 0)
        );
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem 0rem 0rem 1rem;
        z-index: -1;
      }

      .part1 {
        line-height: 2.5rem;

        h1 {
          font-size: 3rem;
        }

        h2 {
          font-size: 1.8rem;
        }

        h3 {
          font-size: 1.4rem;
        }
      }

      .part2 {
        width: 100%;
        margin: 0 1.7rem;
        margin-top: 1rem;

        .weather {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 1rem;

          h4 {
            padding: 0.5rem 1rem;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
